/*---------------------------- Post -------------------- */

/* .header-main{
  width: 80%;
} */
.posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    position: relative;
    top: 80px;
    margin:0 50px;
  }

  @media only screen and (max-width: 890px) {
   .posts{
    grid-template-columns: repeat(2, 1fr);
   }
  }
 
  @media only screen and (max-width: 450px) {
    .posts{
      grid-template-columns: repeat(1, 1fr);
     }
     
  }